/* Homepage Styling */
* {
  font-family:Georgia, 'Times New Roman', Times, serif,
}
h4 {
  font-weight:800,
}
/* Header Styling */
h3{
  font-weight:800;
  color: white;
}
p {
  font-weight: 700;
  font-size: 15pt;

}
.paddingfix {
  padding-bottom:100px;
}

/* Navbar Styling */
h1 {
  font-weight:800;
}
a.nav-link {
  margin-bottom: 10;
  padding-left: 10;
  margin-top: 12px;
  font-weight:900;
  font-size: 25px;
  color: rgb(17, 60, 32)
}

/* React App Styling (comes with package) */
.App {
  text-align: center;
} 

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(109, 105, 105);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


body {
  margin: 0;
  padding: 0;
  height:1000px;
  background-color: #a6acaa;
  

 }


